body {
    font-family: Inter Tight;
    margin: 0;
    padding: 0;
}

.section-how-it-works-title {
    visibility: hidden;
}

.container {
    font-family: Inter Tight;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.image-section {
    flex: 1;
    background-color: #872843;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 650px;
    height: 759px;
}

.image {
    border-radius: 2vw;
    width: 430px;
    height: 559px;
    padding: 20px;
}

.text-section {
    font-family: Inter Tight;
    flex: 1;
    background-color: #4c6a37;
    color: #ffffff;
    padding: 20px;
    width: 650px;
    height: 759px;
    gap: 50px;
}

.text-section-div {
    width: 450px;
    height: 499px;
    padding: 50px;
}

.text-section h1 {
    font-size: 32px;
    margin: 0 0 20px;
    font-weight: 600;
    padding: 10px;
}

.text-section h1 span {
    color: #b3b3b3;
    font-weight: 600;
}

.text-section p {
    font-family: Inter Tight;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 500;
    color: #fbfbfb;
}
.count-lable{
    counter-reset: step-counter;
    width: 398px;
    height: 268px;
    border: 5px;
}
.steps {
    font-family: Inter Tight;
    display: flex;
    flex-direction: column;
    gap: 20px;
    counter-reset: counter-item;
}

.steps li {
    counter-increment: step-counter;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.steps li::before {
    counter-increment: counter-item;
    content: counters(counter-item, ".") " ";
    width: 52px;
    height: 52px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #7a3145;
    border: 5px solid #d0bfc4;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-right: 24px;
}

.step {
    display: flex;
    align-items: auto;
    box-sizing: border-box;
    gap: 15px;
    background-color: #ffffff;
    color: #14141499;
    padding: 15px;
    border-radius: 335 76;
    font-size: 16px;
}

.step p {
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: #141414;
    box-sizing: border-box;
}

.step p strong {
    color: #141414;
    text-align: left;
    box-sizing: border-box;
}

.light-text {
    color: rgba(20, 20, 20, 0.6);
}

.advertisement {
    width: 1280px;
    margin: 0 auto;
    letter-spacing: -1.5%;
}

.advertisement-section-h2 {
    visibility: hidden;
}

.discount-banner {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 2vw;
    font-size: 76px;
    color: #000000;
    width: 1280px;
    height: 440px;
}

.discount-banner {
    width: 1080px;
    height: 240px;
    size: 76px;
    padding: 100px;
}

.discount-text {
    background-color: #4c6a37;
    color: #ffffff;
    font-weight: bold;
    font-size: 76px;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .container {
        font-family: Inter Tight;
        display: inline-block;
        align-items: center;
        justify-content: center;
        max-width: 768px;
        padding: 100px 159px 100px 0px;
        gap: 10px;
    }

    .image-section {
        flex: 1;
        background-color: #872843;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto;
        width: 768px;
        height: 840px;
    }

    .image {
        width: 640px;
        height: 640px;
        padding: 0 auto;
    }

    .text-section {
        font-family: Inter Tight;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto;
        background-color: #4c6a37;
        color: #ffffff;
        padding: 20px;
        width: 768px;
        height: 840px;
    }

    .text-section-div {
        font-family: Inter Tight;
        width: 450px;
        height: 499px;
        padding: 50px;
    }

    .text-section h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        margin: 0 auto 20px;
        color: #fbfbfb;
        width: 100%;
    }

    .text-section h1 span {
        color: #b3b3b3;
        font-weight: 600;
    }

    .text-section p {
        width: 450px;
        height: 60px;
        text-align: left;
        font-family: Inter Tight;
        font-size: 16px;
        margin-bottom: 30px;
        padding: 10px;
        font-weight: 500;
        color: #fbfbfb;
    }
    .count-lable {
        counter-reset: step-counter;
        width: 450px;
        height: 269px;
        border: 5px;
}
    .steps {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 450px;
        height: 269px;
        align-items: auto;
        list-style: none;
        counter-reset: step-counter;
    }

    .steps li {
        counter-increment: step-counter;
        background-color: #ffffff;
        color: #4c6a37;
        box-sizing: border-box;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 450px;
        max-height: 76px;
    }

    .steps li::before {
        content: counter(step-counter);
        background-color: #872843;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        transform: translateY(-50%);
        top: 40px;
        left: 15px;
    }

    .step {
        display: flex;
        align-items: auto;
        box-sizing: border-box;
        gap: 15px;
        background-color: #ffffff;
        color: #14141499;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        box-sizing: border-box;
    }

    .step p {
        margin: 0;
        font-size: 16px;
        text-align: left;
        color: #141414;
        box-sizing: border-box;
    }

    .step p strong {
        color: #141414;
        text-align: left;
        box-sizing: border-box;
    }

    .light-text {
        color: rgba(20, 20, 20, 0.6);
    }

    .advertisement {
        font-family: Inter Tight;
        width: 768px;
        margin: 0 auto;
        letter-spacing: -1.5%;
    }

    .advertisement-section-h2 {
        visibility: hidden;
    }

    .discount-banner {
        font-family: Inter Tight;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 2vw;
        font-size: 64px;
        color: #000000;
        width: 736px;
        height: 288px;
    }

    .discount-banner {
        font-family: Inter Tight;
        width: 768px;
        height: 488px;
        size: 64px;
        padding: 100px 16px 100px 16px;
        gap: 10px;
    }

    .discount-text {
        background-color: #4c6a37;
        color: #ffffff;
        font-weight: bold;
        font-size: 64px;
    }
}

@media screen and (max-width: 767px) {
    .section-how-it-works-title {
        visibility: hidden;
    }

    .container {
        font-family: Inter Tight;
        display: inline-block;
        align-items: center;
        justify-content: center;
        max-width: 375px;
        margin: 0 auto;
    }

    .image-section {
        flex: 1;
        background-color: #872843;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto;
        width: 375px;
        height: 530px;
    }

    .image {
        border-radius: 2vw;
        width: 335px;
        height: 450px;
        padding: 0 auto;
    }

    .text-section {
        font-family: Inter Tight;
        flex: 1;
        background-color: #4c6a37;
        color: #ffffff;
        padding: 0 auto;
        width: 375px;
        height: 654px;
        gap: 30px;
    }

    .text-section-div {
        width: 375px;
        height: 645px;
        padding: 25px;
    }

    .text-section h1 {
        width: 335px;
        height: 112px;
        font-size: 28px;
        margin: 0 0 20px;
        font-weight: 600;
        padding: 5px;
    }

    .text-section h1 span {
        color: #b3b3b3;
        font-weight: 600;
    }

    .text-section p {
        width: 335px;
        height: 54px;
        font-family: Inter Tight;
        text-align: left;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 0 auto;
        font-weight: 500;
        color: #fbfbfb;
    }

    .steps {
        font-family: Inter Tight;
        max-width: 335px;
        height: 268px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: auto;
        list-style: none;
        padding: 0px;
        counter-reset: step-counter;
    }

    .steps li {
        counter-increment: step-counter;
        background-color: #ffffff;
        color: #4c6a37;
        position: relative;
        font-size: 12px;
        font-weight: 500;
        padding: 12px 27px 12px 24px;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .steps li::before {
        content: counter(step-counter);
        background-color: #872843;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        width: 52px;
        height: 52px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
        top: 25px;
        left: 5px;
    }

    .step {
        font-family: Inter Tight;
        display: flex;
        align-items: auto;
        gap: 15px;
        background-color: #ffffff;
        color: #14141499;
        padding: 0 auto;
        border-radius: 2vw;
        font-size: 12px;
        font-weight: 500;
        box-sizing: border-box;
    }

    .step p {
        font-size: 12px;
        color: #141414;
        text-align: left;
        box-sizing: border-box;
    }

    .step p strong {
        color: #141414;
        text-align: left;
        box-sizing: border-box;
    }

    .light-text {
        color: rgba(20, 20, 20, 0.6);
    }

    .advertisement {
        font-family: Inter Tight;
        width: 375px;
        padding: 0;
        margin: 0;
        align-items: center;
        letter-spacing: -1.5%;
    }

    .advertisement-section-h2 {
        visibility: hidden;
    }

    .discount-banner {
        font-family: Inter Tight;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 auto;
        background-color: #ffffff;
        radius: 30px;
        font-size: 48px;
        color: #141414;
        max-width: 355px;
        max-width: 309px;
    }

    .discount-banner {
        width: 355px;
        height: 309px;
        size: 48px;
    }

    .discount-text {
        background-color: #4c6a37;
        color: #ffffff;
        font-weight: bold;
        font-size: 48px;
    }
}